<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/my.css" th:href="@{/css/my.css}"/>
		<title>归档</title>
	</head>

	<body>
		<!--导航-->
		<nav class="ui inverted attached segment m-padded-tb-mini" th:replace="_fragments::nav(4)">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">GodHrh-Blog</h2>
					<a href="#" class="m-item item m-mobile-hidden"><i class="home icon"></i>首页</a>
					<a href="#" class="m-item item m-mobile-hidden"><i class="idea icon"></i>分类</a>
					<a href="#" class=" m-item item m-mobile-hidden"><i class="tags icon"></i>标签</a>
					<a href="#" class="active m-item item m-mobile-hidden"><i class="copy icon"></i>归档</a>
					<a href="#" class="m-item item m-mobile-hidden"><i class="info icon"></i>关于我</a>
					<div class="m-item right item m-mobile-hidden">
						<div class="ui icon inverted transparent input">
							<input type="text" name="" id="" value="" placeholder="Search..." />
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui black icon button m-right-top m-mobile-show" id="sidebar">
				<i class="sidebar icon"></i>
			</a>
		</nav>

		<!--中间内容-->
		<div class="m-contain m-padded-tb-large">
			<div class="ui contain">
				<!--header-->
				<div class="ui top padded attached segment ">
					<div class="ui middle aligned two column grid ">
						<div class="column">
							<h3 class="ui teal header ">归档</h3>
						</div>
						<div class="right aligned column">
							共
							<h2 class=" ui orange header m-inline-block m-text-thin" th:text="${blogCount}">13</h2>篇博客
						</div>
					</div>
					<br />
					<br />
					<th:block th:each="item : ${archiveMap}">
					<h2 class="ui header center aligned" th:text="${item.key}">2020</h2>
					<div class="ui fluid vertical menu">
						<a href="" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${item.value}">
							<span>
							<i class="circle icon teal"></i><span th:text="${blog.title}">一个男生该有哪些优秀习惯</span>
							<div class="ui label left pointing teal basic" th:text="${#dates.format(blog.updateTime,'MMMdd')}">5月21日</div>
							</span>
							
							<span class="ui orange label basic" th:text="${blog.flag}">原创</span>
					
						</a>
<!--/*-->
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
<!--*/-->
					</div>
					</th:block>
<!--/*-->
					<h2 class="ui header center aligned">2019</h2>
					<div class="ui fluid vertical menu">
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>

					</div>
					<h2 class="ui header center aligned">2018</h2>
					<div class="ui fluid vertical menu">
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>
						<a href="" target="_blank" class="item">
							<span>
							<i class="circle icon teal"></i>一个男生该有哪些优秀习惯？
							<div class="ui label left pointing teal basic">5月21日</div>
							</span>
							
							<span class="ui orange label basic">原创</span>
					
						</a>

					</div>
<!--*/-->
				</div>

			</div>
		</div>

		<!--底部-->
		<footer class="ui inverted vertical segment m-padded-tb-massive" th:replace="_fragments::footer">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted list link">
							<div class="item">
								<img src="../static/images/pay-wechar.jpg" class="ui rounded image" style="width: 150px;" />
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui header inverted m-text-spaced m-opacity-mini">最新博客</h4>
						<div class="ui inverted list link">
							<a href="#" class="item">
								用户故事(User story)
							</a>
							<a href="#" class="item">
								用户故事(User story)
							</a>
							<a href="#" class="item">
								用户故事(User story)
							</a>
							<a href="#" class="item">
								用户故事(User story)
							</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui header inverted m-text-spaced m-opacity-mini">联系我</h4>
						<div class="ui inverted list link">
							<a href="#" class="item">
								Email：god666hrh@gmail.com <br /> QQ:2237202251
							</a>
							<a href="#" class="item">
								用户故事(User story)
							</a>
							<a href="#" class="item">
								用户故事(User story)
							</a>
							<a href="#" class="item">
								用户故事(User story)
							</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui header inverted">Heruihao</h4>
						<p class="m-opacity-mini m-text-lined m-text-spaced">
							这是我的个人博客、会分享关于编程、写作，思考相关的任何内容，希望可以给来到这儿的人有所帮助..
						</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-opacity-mini m-text-lined m-text-spaced">
					© Copyright.2020-2021 Designed by Heruihao
				</p>
			</div>

		</footer>
		<script type="text/javascript" src="../static/js/jquery-1.9.1.js" th:src="@{/js/jquery-1.9.1.js}"></script>
		<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
		<script type="text/javascript">
			$("#sidebar").click(function() {
				$('.m-item').toggleClass("m-mobile-hidden");
			});
		</script>
	</body>

</html>